.row
  .page-header
    h1 Шмотки
.row
  = simple_form_for @search, url: [:admin, :item_classes], method: :get, as: :search, html: {class: 'inline'} do |f|
    .form-group.form-inline
      = f.input :name, label: 'Имя ', required: false
      = f.submit 'Поиск', class: 'btn btn-ok'
  = button_to 'Обновить список', [:reload, :admin, :item_classes],
              method: :post, class: 'btn btn-ok',
              form: {style: 'display: inline-block'}

  = form_tag url_for([:admin, :item_classes, search: params[:search]]), method: :patch, id: 'items_form'
    = submit_tag 'Применить', class: 'btn btn-ok'

    table.table.table-striped.tablesorter
      thead
        tr
          th ID
          th Название
          th Качество
          th Количество
          th Цена
          th Опции
      tbody
        - @form.each do |item_class|
          tr
            = simple_fields_for item_class, index: item_class.id do |row|
              td
                b = item_class.id
              td = item_class.name
              td = item_class.rareness
              td = item_class.items_count
              td = row.input :price, label: false
              td
                = row.input :enabled, label: 'Включена', wrapper_html: {style: 'display: inline;', class: 'checkbox'}
                = row.input :best, label: 'Лучшее предложение', wrapper_html: {style: 'display: inline;', class: 'checkbox'}