= will_paginate @games
table.table.table-striped.tablesorter
  thead
    tr
      th ID
      th Игрок 1
      th Игрок 2
      th Ставка
      th Статус
      th Действия
  tbody
    - @games.each do |game|
      tr
        td
          a href="/admin/lotteries/stone/show/#{game.id}" =game.id
        td =game.user1
        td =game.user2
        td =game.factor
        td style="font-weight:bold;" =game.status
        td
          .btn-group role="group"
            a.btn.btn-success href="/admin/lotteries/stone/show/#{game.id}" Подробнее
            a.btn.btn-danger href="/admin/lotteries/stone/close/#{game.id}" Закрыть
