h3 Ha-ha!

= form_tag controller: :robokassa, action: :signer
  label for=:robokassa_amount Сумма:
  input#robokassa_amount name='amount'

  input type='submit' value='Оплатить в робокассе!'

.links
  header Ссылкота
  ul
    li
      a href=lottery_path(:kodo) Kodo
    li
      a href=lottery_path(:headshot) Headshot
    - if role.can?(:tickets, :index)
      li
        a href=new_ticket_path Создать тикет
