.row
  .page-header
    h1 KODO
- if params[:action] != 'index'
  = link_to 'Назад', [:admin, :lotteries, :kodo, :index], class: 'btn btn-blue'
table.table.table-striped.tablesorter#lotteries-list
  thead
    tr
      - if params[:action] == 'index'
        th День
        th Количество лоттерей
      - else
        th ID
      th Проданно билетов
      th На сумму
      th Из них выигрышных
      th На сумму
      th Прибыль
      th Изменение джекпота
      th Джекпот
      - unless params[:action] == 'index'
        th Время розыгрыша
  tbody
    - @stats.each do |stat|
      tr
        - if params[:action] == 'index'
          td = stat.date
          td = stat.lotteries_count
        - else
          td = link_to stat.lottery_id, [:admin, :lotteries, :kodo, id: stat.lottery_id]
        td = stat.participations_count
        td = stat.bets
        td = stat.winners
        td = stat.wins
        td = stat.profit
        td = stat.jackpot_change
        td = stat.current_superprize
        - unless params[:action] == 'index'
          td.finished-at class=('future' unless stat.lottery.finished?)
            = stat.lottery.finished_at
