h1 Headshot
- unless current_user.guest?
  .my_tickets
    header Мои билеты
    table
      thead
        tr
          th id лотереии
          th Кафка
          th Выигрыш
      tbody
        - pars = current_user.lottery_participations
        - pars = pars.includes(:lottery).where(lotteries: { type: 'Lottery::Headshot' })
        - pars.order(created_at: :desc).limit(20).each do |x|
          tr
            td = x.lottery_id
            td = x.bet
            td = x.win
- if @lottery
  = form_tag action: :bet, method: :post do
    input name='id' value='headshot' type='hidden'
    input type=:submit value='Купить билет' disabled=(current_user.guest? && 'disabled')


