h1 Kodo
- unless current_user.guest?
  .my_tickets
    header Мои билеты
    table
      thead
        tr
          th id лотереии
          th Ставка
          th Выигрыш
          th Выбранные картинки
          th Выбранные числа
      tbody
        - pars = current_user.lottery_participations
        - pars = pars.includes(:lottery).where(lotteries: { type: 'Lottery::Kodo' })
        - pars.order(created_at: :desc).limit(20).each do |x|
          tr
            td = x.lottery_id
            td = x.bet
            td = x.win
            td = x.selection['guns'].join ', '
            td = x.selection['numbers'].join ', '
.past_lotteries
  header Прошедшие лотереи
  table
    thead
      tr
        th id
        th картинка
        th числа
        th завершена
    - Lottery::Kodo.order(time_till: :desc).limit(5).each do |x|
      tr
        td = x.id
        td = x.gun
        td = x.numbers.join ', ' rescue nil
        td = l x.time_till.in_time_zone('Moscow')
  .pages
    ul .pages
      li
        a href="size=&offset=&filter=&order=asc" = 1
      li
        a href="size=&offset=&filter=&order=asc" = 2
      li
        a href="size=&offset=&filter=&order=asc" = 3
  input type='combobox' class="pagesize"

- if @lottery
  = form_tag action: :bet, method: :post do
    input name='id' value='kodo' type='hidden'

    .guns
      header Выберете картинки
      - (1..4).each do |i|
        label for="guns_#{i}" style='font-size: 40px; width: auto !important; margin: 4px' = i
        input id="guns_#{i}" name='guns[]' type='checkbox' value=(i)

    .numbers
      header Выберете числа
      - (1..30).each do |i|
        label for="numbers_#{i}" style='font-size: 40px; width: auto !important; margin: 4px' = i
        input id="numbers_#{i}" name='numbers[]' type='checkbox' value=(i)

    .bet
      label> for=:bet Ставка (деньгами)
      input#bet name=:bet

    input type=:submit value='Отправить (без проверки количества)' disabled=(current_user.guest? && 'disabled')


