= simple_form_for @search, url: [:admin, :tickets], method: :get, as: :search do |f|
  = f.input :category, collection: TicketDecorator.categories.invert,
            required: false, include_blank: false,
            label: 'Категория', as: :check_boxes
  = f.input :open, label: 'Только открытые', as: :boolean
  = f.input :user_id, label: 'Id пользователя', required: false
  = f.submit 'Применить'


table.table.table-striped.tablesorter
  thead
    tr
      th ID
      th Дата обращения
      th Тема
      th Пользователь
      th E-Mail
      th Категория
      th
  tbody
    - @tickets.decorate.each do |ticket|
      - user = ticket.user
      tr
        td data-sort-by=(ticket.id) = link_to ticket.id, [:admin, ticket]
        td data-sort-by=(ticket.created_at.to_i) = l ticket.created_at
        td data-sort-by=(ticket.title) = link_to ticket.title, [:admin, ticket]
        td data-sort-by=(user.nickname) = link_to "#{user.nickname} (#{user.id})", [:admin, user]
        td = ticket.user_email
        td = ticket.category
        td data-sort-by=(ticket.open? ? 1 : 0)
          - if ticket.open?
            = button_to 'Закрыть', [:close, :admin, ticket], method: :delete
          - else
            = button_to 'Открыть', [:open, :admin, ticket]
