/! History
.history ng-controller=("historyController as history")
  .history__title Ставки за сегодня:
  .history__head.grid
    .history__filter
      .history__links
        a.history__link href="" ng-class=("{ active: history.filter.view === 'short' }") ng-click=("history.filter.view = 'short'")  Кратко
        a.history__link href="" ng-class=("{ active: history.filter.view === 'full' }") ng-click=("history.filter.view = 'full'")  Развернуто
      .history__links
        a.history__link href="" ng-class=("{ active: history.filter.circle === undefined }") ng-click=("history.filter.circle = undefined")  Все тиражы
        a.history__link href="" ng-class=("{ active: history.filter.circle === circle }") ng-click=("history.filter.circle = circle") ng-repeat=("circle in history.circles") = '№{{circle}}'
      .history__links
        a.history__link href="" ng-class=("{ active: history.filter.winning === undefined }") ng-click=("history.filter.winning = undefined")  Все ставки
        a.history__link href="" ng-class=("{ active: history.filter.winning === true }") ng-click=("history.filter.winning = true")  Выигрышные
        a.history__link href="" ng-class=("{ active: history.filter.winning === false }") ng-click=("history.filter.winning = false")  Невыигрышные
    .history__head__links style='width: 400px;'
      a.link.link_type_common.link_type_active href="#/archive" style='float: right;' ng-show=("history.filter.view === 'full'") АРХИВ ТИРАЖЕЙ
      .history__instruction style='margin-top: -18px' ng-show=("history.filter.view === 'short'")
        .history__short.grid
          .history__short__stat
            .history__ticket__number style='margin-top: 0; background: #0D151F; padding-top: 5px;' 3267874
            .history__short__half
              span.history__short__number 5
              span.history__short__number 8
            .history__short__half
              span.history__short__number 1
              span.history__short__number 1
            .history__short__circle style='background: #0D151F;' 146742
          .history__instruction__text
            .history__ticket__number style='margin-top: 7px;' номер билета
            br
            .history__short__half.history__instruction__half.grid
              .history__instruction__line style="margin-top: 7px;"
                | совпадения в первой части поля
            .history__short__half.history__instruction__half.grid.grid_dir_column.grid_justify_center style='height: 62px'
              .history__instruction__line style="margin-top: -17px;"
                | совпадения во второй части поля
            .history__short__circle style="margin-top: -3px;"  номер тиража
  .history__content ng-show=("history.filter.view === 'full'")
    .history__list
      .history__move.history__prev ng-click="history.prev()"
        .history__prev__icon.history__move__icon.icons-arrow-down
      .history__move.history__next ng-click="history.next()"
        .history__next__icon.history__move__icon.icons-arrow-down
      .history__wrap style="transform:translateX({{history.shift()}}px)"
        .history__full.history__rate ng-repeat=("rate in history.rates | filter:{ win:history.filter.winning, circles:history.filter.circle } | orderBy:'-lottery_id' ")
          .history__rate__head
            .history__rate__index = 'Номер билета:  {{rate.id}}'
            | Купон учавствует в тираже
            span< = '{{rate.lottery_id}}'
            br
            span ng-if=("rate.factor") = 'Множитель: {{rate.factor}}'
            br
            //span ng-if=("rate.played") = 'Билет еще не сыграл. Розыгрыш в: {{rate.playtime}}'
            span style='color: white;' Билет еще не сыграл. Розыгрыш в: 14:88
          .choice__body.numbers
            .grid.grid_wrap
              .numbers__item class="_status_{{numb.status}}" ng-repeat=("numb in rate.numbers") = '{{numb.index}}'
            .history__gun.gun class=("_theme_{{history.getTheme(rate.currentGun)}}")
              .gun__preview
                .history__move.history__prev ng-if="!rate.oneGun" ng-click="history.prevGun(rate)"
                  .history__prev__icon.history__move__icon.icons-arrow-down ng-if="!rate.oneGun"
                .history__move.history__next ng-if="!rate.oneGun" ng-click="history.nextGun(rate)"
                  .history__next__icon.history__move__icon.icons-arrow-down ng-if="!rate.oneGun"
                img.gun__img alt="" ng-src="{{history.getPreview(rate.currentGun)}}"
              .gun__info.history
                .gun__title = '{{history.getTitle(rate.currentGun)}}'
                .gun__subtitle = '{{history.getSubtitle(rate.currentGun)}}'
      .dummy ng-show="(history.rates | filter:{ win:history.filter.winning, circles:history.filter.circle }).length == 0"
        span style="top: 43%; position: relative;" Таких билетов нет
    .paging

  .grid.grid_wrap.grid_justify_start ng-show=("history.filter.view === 'short'")
    .history__short.history__rate ng-repeat=("rate in history.rates | filter:{ winning:history.filter.winning, circles:history.filter.circle } | orderBy:'-lottery_id' ")
      span.history__ticket__number.one__more = '№ {{rate.id}}'
      .history__short__stat
        .history__short__half
          span.history__short__number = '{{rate.winning}}'
          span.history__short__number 8
        .history__short__half
          span.history__short__number
            span ng-if="!rate.win"  0
            span ng-if="rate.win"  1
          span.history__short__number 1
      .history__short__circle.history = "№ {{rate.circles}}"
    .dummy ng-show="(history.rates | filter:{ win:history.filter.winning, circles:history.filter.circle }).length == 0"
      span style="top: 43%; position: relative;" Таких билетов нет
  .history__annotation.numbers.grid.grid_justify_center ng-show=("history.filter.view === 'full'")
    .history__annotation__item
      .numbers__item.numbers__item_size_big._status_winning.history__annotation__number 1
      .history__annotation__text
        | Выпавшие
        br>/
        | числа
    .history__annotation__item
      .numbers__item.numbers__item_size_big._status_selected.history__annotation__number 2
      .history__annotation__text Отмеченные
    .history__annotation__item
      .numbers__item.numbers__item_size_big._status_matched.history__annotation__number 3
      .history__annotation__text Совпавшие
