.rules__main
  .grid
    a.rules__button href='#/rulesfifty'
      span style="top: 28%; position: relative;" 50/50
    a.rules__button  href='#/ruleskodo'
      span style="top: 28%; position: relative;" Правила KODO
    a.rules__button  href='#/rulesheadshot'
      span style="top: 28%; position: relative;" Правилa HEADSHOT
    a.rules__button__chosen  href='#/rulesshop'
      span style="top: 28%; position: relative;" Доставка призов
  .rules__main__text
    .rules__description
      | Доставка скинов, которые были получены в результате обмена на «золотые»,  осуществляется с помощью средств серви
      | са steam, а именно - «предложений обмена».  Таким образом, для того чтобы выбранные вами скины оказались в инвент
      | аре вашего steam-аккаунта, вам необходимо принять предложение обмена от steam-аккаунта нашего портала. Соответству
      | ющее предложение обмена будет создано в течение нескольких секунд после выбора вами скинов и нажатия кнопки «Забра
      | ть выигрыш!», при условии нормальной работы самой службы steam.
    br
    a.rules__jumper href='#/rulesshop/#r1' 1. Где я могу посмотреть скины, которые можно обменять на мои золотые?
    br
    a.rules__jumper href='#/rulesshop/#r2' 2. Что мне нужно сделать, чтобы забрать скины, которые мне нравятся?
    br
    a.rules__jumper href='#/rulesshop/#r3' 3. Как быстро я должен принять скины, которые мне пришли?
    br
    a.rules__jumper href='#/rulesshop/#r4' 4. Что делать, если я случайно отклонил предложение обмена или не успел его принять?
    br
    a.rules__jumper href='#/rulesshop/#r5' 5. Предложение обмена не пришло – почему такое может  быть и как теперь поступить?
    br
    a.rules__jumper href='#/rulesshop/#r6' 6. Как и по каким вопросам я могу обратиться к администрации портала?
    br &nbsp
    a.rule__name name='r1' Где я могу посмотреть скины, которые можно обменять на мои золотые?
    .rule__description
      | На соответствующей странице нашего портала steamlotto.ru, перейти на которую можно, нажав кнопку «ДОСТАВКА ПРИЗОВ», расположенную рядом с кнопкой авторизации.
    br &nbsp
    a.rule__name name='r2' Что мне нужно сделать, чтобы забрать скины, которые мне нравятся?
    .rule__description
      | Для этого вам понадобится совершить несколько простых шагов:
      .rule__name style='font-size: 87%; text-align: center;' Шаг 1
      | Вам необходимо ввести ссылку, по которой мы сможем высылать вам предложения обмена в соответствующее поле, после чего нажать кнопку «Запомнить ссылку».
      .rules__img4
      .rule__red
        | Внимание!
        br
        | Несмотря на то, что мы стараемся проверять ваши ссылки на обмен автоматически, будьте бдительны и проверьт
        | е, что указанная вами ссылка на обмен работает. Это поможет лишний раз избежать недоразумений, связанных с доставкой скинов в ваш аккаунт.
      .rule__name style='font-size: 87%; text-align: center;' Шаг 2
      | Теперь кликните по понравившимся вам скинам, после чего они должны попасть в поле «Ваш инвентарь». Проверьт
      | е, что общая стоимость выбранных вами скинов не превышает количество ваших золотых. В противном случае, предложение обмена не будет создано.
      br &nbsp
      .rule__red
        | Внимание!
        br
        | Так как служба steam довольно медленно обрабатывает предложения обмена, содержащие большое количество вещей, т
        | о мы настоятельно рекомендуем вам не отправлять много вещей за один раз. Вы можете создать несколько предложений  меньшего размера.
      .rule__name style='font-size: 87%; text-align: center;' Шаг 3
      | После выбора всех понравившихся вам скинов нажмите на кнопку «Забрать приз!» - в течение нескольких секунд вам придет предложение обмена.
      .rule__red style='font-weight: bolder; text-decoration: underline'
        | Внимание!
        br
        | Отправляемые нами предложения обмена существуют в течение 1 минуты!
      .rule__red
        | Будьте готовы принять его за это время!
        br
        | Это сделано из-за ограничения службы steam на количество открытых предложений обмена, которые может одновременно иметь один аккаунт.
    br &nbsp
    a.rule__name name='r3' Как быстро я должен принять скины, которые мне пришли?
    .rule__description
      | Не позднее одной минуты с момента создания предложения обмена. Причину такого ограничения вы можете посмотреть в предыдущем пункте.
    br &nbsp
    a.rule__name name='r4' Что делать, если я случайно отклонил предложение обмена или не успел его принять?
    .rule__description
      | Ничего страшного, мы предусмотрели такие возможности. По истечении указанной минуты мы проверяем статус созданн
      | ых нами предложений. Если вы случайно отклонили его или не успели принять – мы отменим его сами, после чего вернем золотые за него обратно на ваш счет.
    br &nbsp
    a.rule__name name='r5' Предложение обмена не пришло – почему такое может  быть и как теперь поступить?
    .rule__description
      | Не волнуйтесь – ничего страшного не случилось! Вы обязательно получите свои вещи, или золотые будут возвращены на ваш счет.
      br
      | К сожалению, мы не можем полностью гарантировать вам 100% доставку, т.к. сервис steam не зависит от нас. Пери
      | одически он может не работать или работать крайне плохо. В этом случае мы чисто физически не можем доставить до вас выбранные вами скины.
      br &nbsp
      | Мы обрабатываем все известные нам способы сбоя steam, но, возможно, все же не все, существующие в природе. В сл
      | учае возникновения известного нам сбоя – предложение обмена не создается, а золотые возвращаются на ваш счет.
      br &nbsp
      | Если вам кажется, что вы оказались в этой ситуации, то проверьте, что steam работает штатно с помощью сайта
      a style='margin-left: 6px; margin-right: 6px' href='https://steamstat.us' https://steamstat.us
      | и, если это не так, пожалуйста, подождите с заказом до момента стабилизации его работы.
      br &nbsp
      | Если же золотые не были возвращены вам на счет в течение нескольких часов – обязательно свяжитесь с нами с помощью формы обратной связи. Мы проверим ваш вопрос вручную и решим его.
    br &nbsp
    a.rule__name name='r6' Как и по каким вопросам я могу обратиться к администрации портала?
    .rule__description
      | Вы всегда можете обратиться к администрации портала с помощью формы обратной связи,  которая находится на стран
      | ицах лотерей внизу. Мы обязательно просматриваем все обращения наших пользователей и стараемся делать это как можно быстрее.
      br
      | Помните, что кроме обязательного указания почты, вы можете указать в тексте сообщения и другие удобные спосо
      | бы связи с вами. При этом мы оставляем за собой право выбрать наиболее удобный для нас способ.
      br &nbsp
      | Мы поможем вам, если у вас возникла какая-то проблема во время отдыха на нашем портале, в частности, с получе
      | нием скинов. Также мы будем рады, если у вас есть предложение по улучшению работы нашего портала.
      br
      | Кроме того, мы рассмотрим ваше предложение по сотрудничеству с нами.
      .rule__red
        | Внимание!
        br
        | Т.к. рассмотрением обращений пользователей занимаются живые люди, любые виды спама и/или иное некультурное по
        | ведение будут пресекаться вплоть до полного бана на нашем портале по steam_id.
        br
        | Уважайте других пользователей, работе с которыми вы можете помешать.