.rules__main
  .grid
    a.rules__button href='#/rulesfifty'
      span style="top: 28%; position: relative;" 50/50
    a.rules__button  href='#/ruleskodo'
      span style="top: 28%; position: relative;" Правила KODO
    a.rules__button__chosen  href='#/rulesheadshot'
      span style="top: 28%; position: relative;" Правилa КНБ
    a.rules__button  href='#/rulesshop'
      span style="top: 28%; position: relative;" Доставка призов
  .rules__main__text
    .rules__description
      | «HEADSHOT» следует простому принципу: «Быстро купить и немедленно разыграть!». Играть в эту лотерею можно в люб
      | ой момент. Игровой процесс максимально приближен к розыгрышу бумажных билетов, только вместо монетки для стирани
      | я защитного слоя вы просто нажимаете кнопку «Пуск». Это самый быстрый путь к результату! Выигрыши зачисляются в Ко
      | шелек моментально.
    br
    a.rules__jumper href='#/rulesheadshot/#r1' 1. Что такое «Золотой»?
    br
    a.rules__jumper href='#/rulesheadshot/#r2' 2. Сколько стоит один билет?
    br
    a.rules__jumper href='#/rulesheadshot/#r3' 3. Какие виды выигрышей бывают?
    br
    a.rules__jumper href='#/rulesheadshot/#r4' 4. Сколько я могу купить билетов?
    br &nbsp
    a.rule__name name='r1' Что такое «Золотой»?
    .rule__description
      | Золотой – это аналог денежных знаков на нашем сайте. Авторизованный пользователь может пополнить свой кошелек золотых при помощи сервиса «Робокассы» по курсу
      br
      | 1 золотой = 1 рубль.
      br &nbsp
      | Золотые можно обменивать на один или несколько скинов во вкладке «Доставка призов»,  в соответствии с указанным курсом. Доставка вещей производится бесплатно.
    br &nbsp
    a.rule__name name='r2' Сколько стоит один билет?
    .rule__description
      | Один билет лотереи «HEADSHOT» стоит 20 золотых
    br &nbsp
    a.rule__name name='r3' Какие виды выигрышей бывают?
    .rule__description
      | В лотерее «HEADSHOT» предусмотрены и гарантированы 6 видов выплат: 20, 40, 100, 200, 1 000 и 10.000 золотых.
    br &nbsp
    a.rule__name name='r4' Сколько я могу купить билетов?
    .rule__description
      | Пользователь не ограничен в количестве покупаемых билетов лотереи «HEADSHOT».