.stat ng-controller='statCtrl as stat'
  .stat__side.stat__side_dir_left
    .stat__set.stat__broadcast
      .stat__title Быстрые игры
      .stat__link.stat__subtitle.stat__last__game ng-click="stat.showBroadcast()"
        | Последняя трансляция Kodo тираж №{{stat.broadcastId()}}
    .stat__set.stat__set_clear.stat__often
      .stat__subtitle Часто выпадающие числа
      a.stat__link ng-click="stat.oftenType = 'last'" ng-class="{ active: stat.oftenType === 'last' }" в последних 10 тиражах
      br
      a.stat__link ng-click="stat.oftenType = 'all'" ng-class="{ active: stat.oftenType === 'all' }" за все время
      .stat__numbers.grid.grid_wrap.grid_justify_start
        .stat__number ng-repeat="x in stat.kodo_stats[stat.oftenType] | orderBy: '- count' | limitTo:10  track by x.number" = '{{x.number}}'
  .stat__side.stat__side_dir_right
    .stat__set.stat__bets
      .stat__subtitle ng-click="stat.bets()"
        span.stat__link Мои ставки
      .grid.grid_justify_start
        a.stat__link.stat__link_inline.active ng-click="stat.betsType = 'kodo'" ng-class="{ active: stat.betsType === 'kodo' }" KODO
      div ng-show="stat.betsType === 'kodo'"
        .stat__bet ng-repeat='bet in stat.kodo_bets'
          .grid.grid_justify_start
            .stat__bet__ticket Тираж: {{bet.circles[0]}}
          .grid.grid_justify_start
            .stat__bet__numb №{{bet.id}}
            .stat__bet__time = "{{bet.created_at | date: 'dd.MM.yyyy'}}"
          .grid.grid_justify_start
            .stat__bet__numbers = '{{betNumbers(bet)}}'
            //.stat__bet__gun = '{{bet.guns.join(' ')}}'
          .grid.grid_justify_start ng-repeat='gun in bet.guns'
            .stat__gun__title = '{{stat.getTitle(gun)}} '
            .stat__gun__subtitle = '{{stat.getSubtitle(gun)}}'
      div ng-show="stat.betsType === 'headshot'"
        .stat__bet ng-repeat='bet in stat.headshot_bets'
          .grid.grid_justify_start
            .stat__bet__numb №{{bet.id}}
            .stat__bet__time = "{{bet.updated_at | date: 'dd.MM.yyyy'}}"
          .stat__bet__won = '{{bet.win}}'
    .stat__set.stat__set_clear.stat__last ng-if='stat.selectedLottery'
      .stat__subtitle Результаты последних тиражей
      .select
        .select__selected
          a.stat__link Тираж {{stat.selectedLottery.id}}
          span.icons-arrow-down.select__arrow ng-show="stat.last_kodo.length > 1"
        .select__list.stat__list
          / Css locks selection of 6s position :0
          div ng-if="stat.last_kodo.length > 1" ng-repeat="lottery in stat.last_kodo | limitTo:5"
            a.stat__link ng-class="{ active: stat.selectedLottery == lottery}" ng-click="stat.selectedLottery = lottery" Тираж {{lottery.id}}
      .stat__numbers.grid.grid_wrap.grid_justify_start
        .stat__number ng-repeat='x in stat.selectedLottery.result.numbers | orderBy' = '{{x}}'
        img style='margin-top: 10px; margin-bottom: 30px;' ng-src="{{stat.getPreview(stat.selectedLottery.result.gun)}}" alt=""
    .stat__set.stat__set_clear.stat__rare
      .stat__subtitle Давно не выпадали
      .stat__numbers.grid.grid_wrap.grid_justify_start
        .stat__number ng-repeat="x in stat.kodo_stats.all | orderBy: '- last_seen' | limitTo:10 track by x.number" = '{{x.number}}'
