.store ng-controller="storeCtrl as store"
  .store__main.grid
    .store__best
      balance.grid style ='font: 13px PT Sans'
      .asdasd ng-if='user.logged_in' style ='font: 13px PT Sans'
        .lottery__refill.button._theme_dark ng-if='!user.flaq' ng-click='user.addSelection()' Пополнить счет
        .lottery__refill.button._theme_dark ng-if='user.flaq=="selection"' ng-click='user.addMoney()' Через Робокассу
        .lottery__refill.button._theme_dark ng-if='user.flaq==  "selection"' ng-click='user.addItem()' Вещами
        .lottery__refill style='padding-left: 10px; padding-right: 10px;' ng-if='user.flaq=="money"'
          .grid
            input.input.next__one ng-model='gold_amount' placeholder='Введите количество...' type='text' value = '100'
            button.button.next__one ng-click='user.robokassa(gold_amount)' ОК
        .lottery__refill.button._theme_dark ng-if='user.flaq=="item"' ng-click="user.open_steam_window()" В Steam! 
      .store__best__title Лучшие предложения:
      .store__best__gun ng-repeat="gun in store.items | filter : { best: true } | filter : { items_count : '!0'}" ng-click="store.pushGun(gun)" class= '{{gun.classfield | theme}} _st_{{gun.stattrak}}'
        .store__items__count.span = 'осталось:  {{gun.items_count}} шт.'
        img ng-src="{{gun.preview}}" alt="" class="store__best__gun__preview"
        .store__best__gun__price = '{{gun.price}} зол.'
        .store__best__gun__info.grid.grid_align_center
          .store__best__gun__info__icon
            .icons-label
          .store__best__gun__info__text
            .store__best__gun__name = '{{gun.name}}' + ' (' + '{{gun.rareness}}' + ')'
          .store__best__gun__status ng-if="gun.status" = '{{gun.status}}'
    /
           a.store__best__gun__loop ng-href="{{gun.image}}" data-lightbox="bestguns"
             span.icons-loupe"
    .store__cart
      .store__change
        .store__change__title
          | Внимание! Необходимо ввести ссылку на обмен. (
          a.link.link_colored.link_type_common href='http://steamcommunity.com/id/me/tradeoffers/privacy' Где взять ссылку?
          | )
        .grid
          input.store__change__input.input name='steam_offer_link' type='text' ng-placeholder = '' ng-value="user.steam_offer_link"
          button.store__change__button.button._theme_yellow ng-click='store.updateOfferLink()' Запомнить ссылку
      .store__inventory
        .store__inventory__title Ваш инвентарь:
        .store__inventory__list.grid.grid_justify_start.grid_wrap
          .store__inventory__item ng-repeat="gun in store.inventory track by gun.uid" ng-click="store.pullGun(gun)"
            .store__icon.icons-redcross.span ng-if=("gun.preview")
            img.store__inventory__img ng-src="{{gun.preview}}" title="{{gun.name}} ({{gun.rareness}})" alt=""

      .store__actions.grid
        .store__action
          .store__total
            .store__total__text
              | Текущая стоимость
              br
              | инвентаря:
            .store__total__price = '{{store.inventory.total}} зол'
        a.store__action.store__buy href=true ng-click="store.buy(store.total)"
          span Забрать выигрыш!
        .store__action
          a.store__more href="#/headshot"
            | Сыграть еще,
            br
            |  чтобы увел. баланс
  .store__guns
    .store__filter
      .store__filter__line.grid.grid_justify_start
        .store__filter__button ng-click="store.allToggle()" Все предметы
        .store__filter__button ng-click="store.stattrakToggle()" ng-if='store.starttrakClicked' style='background-color: orange; color: blue;' StatTrack
        .store__filter__button ng-click="store.stattrakToggle()" ng-if='!store.starttrakClicked' StatTrack
        .store__filter__button ng-click="store.starToggle()" ng-if='store.starClicked'
          span.icons-star2 style='margin-top: 4px;'
        .store__filter__button ng-click="store.starToggle()" ng-if='!store.starClicked'
          span.icons-star style='margin-top: 4px;'
        .store__filter__button.store__filter__search.grid
          input type="text" class="store__filter__input input" placeholder="Поиск..." ng-model="store.filters.query.selection"
      .store__filter__line.grid.grid_justify_start
        - ng_repeat = 'filter in store.filters | titledFilters'
        .store__filter__button.select style='width: 250px;' ng-repeat=(ng_repeat)
          .select__selected
            = "{{filter.title}} - {{filter.selection || 'Все'}}"
            '
            span.icons-arrow-down.select__arrow
          .select__list.store
            .select__item ng-click="filter.clear()" Все
            .select__item ng-repeat="value in filter.values" ng-click="filter.select(value)" = '{{value}}'
    .store__guns__list.grid.grid_wrap.grid_justify_start
      .store__gun ng-repeat="gun in store.filteredItems() | filter : { items_count : '!0'} | orderBy:'+name'" ng-click='store.pushGun(gun)' class= '{{gun.classfield | theme}} _st_{{gun.stattrak}}'
        .store__items__count__small.span = 'осталось:  {{gun.items_count}} шт.'
        .store__gun__preview
          img.store__gun__img ng-src="{{gun.preview}}" alt=""
        .store__gun__price = '{{gun.price}} зол.'
        .store__gun__status ng-if="gun.status" = '{{gun.status}}'
        .store__best__gun__name.small = '{{gun.name}}' + ' (' + '{{gun.rareness}}' + ')'
