window.reportError = function(html) {
    <% if Rails.env.development? %>
      var popup = window.open('','_blank','width');
      popup.document.write('<pre>' + html + '</pre>');
    <% else %>
      alert('Internal error!');
    <% end %>
    return true;
};
