var guns = [
    {
        "preview": "<%= image_url 'gun1.png' %>",
        "title": "Desert Eagle",
        "subtitle": "«Пламя»",
        "theme": "yellow",
        "index": 1,
        "selected": false
    },
    {
        "preview": "<%= image_url 'gun2.png' %>",
        "title": "AK-47",
        "subtitle": "«Вулкан»",
        "theme": "purple",
        "index": 2,
        "selected": false
    },
    {
        "preview": "<%= image_url 'gun3.png' %>",
        "title": "AWP",
        "subtitle": "«Азимов»",
        "theme": "red",
        "index": 3,
        "selected": false
    },
    {
        "preview": "<%= image_url 'gun4.png' %>",
        "title": "«Original Knife»",
        "theme": "blue",
        "index": 4,
        "selected": false
    }
];
guns.fetch = function(index) {
    return guns[index - 1]
};
