.archive__link {
  display: inline-block;
  padding: 3px 5px;
  margin: 0 20px;
  text-decoration: underline;
}

.archive__link:hover {
  text-decoration: none;
}

.archive__link.active {
  text-decoration: none;
  background: $color__archive__order__link;
}

.archive__checkbox {
  margin-left: 80px;
  font-size: 110%;
}

.archive__checkbox__icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 1px solid $color__yellow;
  margin-right: 10px;
  text-align: center;
  line-height: 15px;
}

.archive__checkbox.active:before {
  background: $color__yellow;
}

.archive__filter__line {
  margin: 0 0 25px;
}

.archive__filter__link {
  margin: 5px 0;
}

.archive__filter__input {
  margin: 0 10px;
}

.archive__order {
  padding-bottom: 25px;
  border-bottom: 1px solid $color__blue;
  margin-bottom: 25px;
  font-size: 110%;
}

.archive__content {
  padding: 25px;
  margin: 40px 0 0;
  background: $color__blue_dirty;
}

.archive__data {
  width: 100%;
  font-size: 14px;
}

.archive__data__head .archive__data__cell:nth-last-child(2) {
  height: auto;
}

.archive__data__head, .archive__data__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.archive__data__item {
  background: $color__archive__row;
}

.archive__data__item:not(:last-child) {
  margin-bottom: 15px;
}

.archive__data__item .archive__data__cell {
  height: 50px;
}

.archive__data__cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1 25%;
  -ms-flex: 1 25%;
  flex: 1 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 20%;
  padding: 15px 0;
  text-align: center;
}

.archive__data__cell:first-child {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 10px;
  text-align: left;
}

.archive__data__cell:last-child {
  -webkit-box-flex: 1;
  -webkit-flex: 1 10%;
  -ms-flex: 1 10%;
  flex: 1 10%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 25px;
  text-align: right;
}

.archive__gun {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pagination__pagelink {
  color: #ffffff;
  cursor: pointer;
  margin: 0 3px;
}

.archive__pagination {
  position: relative;
  line-height: 25px;
  padding: 0 6px;
  margin: 8px 0;
}

.archive__pagination__controls {
  float: right;
  top: 0;
  right: 6px;
}

.current__pagination {
  color: #8F98A0;
}