.banner {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 50%;
  -ms-flex: 1 50%;
  flex: 1 50%;
  max-width: 300px;
  font-family: Open Sans;
}

.banner__title {
  margin: 0 0 20px;
  font-size: 110%;
  text-transform: uppercase;
  color: $color__blue-white;
}

.banner__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 300px;
  height: 160px;
  border-style: solid;
  border-color: $color__blue-bg;
  border-width: 4px 2px 3px 3px;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color__font_dark;
}

.banner__half {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
}

.banner__preview {
  float: left;
}

.banner__info {
  float: right;
  padding: 1em;
  background: $color__yellow;
}

.banner__kodo {
  background-image: image-url('kodo.jpg');
}

.banner__kodo__move {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 40px;
  height: 40px;
  background: $color__blue-bg;
}

.banner__kodo__timer {
  font-family: PT Sans;
  font-size: 230%;
  font-weight: 700;
}

.banner__kodo__circle {
  font-weight: 700;
  font-size: 125%;
}

.banner__kodo__number {
  font-size: 110%;
}

.banner__headshot {
  background-image: image-url('headshot.jpg');
  text-align: center;
  text-transform: uppercase;
  font-family: PT Sans;
}

.banner__fifty {
  background-image: image-url('fifty.jpg');
  text-align: center;
  text-transform: uppercase;
  font-family: PT Sans;
}

.banner__headshot__icon {
  margin: 0 0 1em;
}

.banner__headshot__title {
  font-size: 200%;
  font-weight: 700;
}

.banner__headshot__subtitle {
  font-size: 110%;
}

.banner._passive {
  opacity: .3;
}
