.bets {
  text-transform: uppercase;
  font: 12px Open Sans;
  overflow: auto;
}

.bets__popup {
  position: absolute;
  z-index: 100;
  top: 200px;
  left: 50%;
  width: 1200px;
  padding: 25px;
  background: $color__blue-black;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.bets__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  cursor: default;
}

.bets__close {
  position: absolute;
  top: 30px;
  right: 30px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bets__close:after {
  content: '+';
  font-size: 30px;
  font-weight: 600;
  line-height: 0;
  color: $color__blue;
}

.bets__title {
  margin: 0 0 1em;
  font: 200% PT Sans;
  color: $color__blue-white;
}

.bets__tab {
  padding: 15px;
  font-size: 165%;
  color: $color__blue;
}

.bets__tab.active {
  background: #172634;
}

.bets__content {
  display: table;
  width: 100%;
  padding: 10px 0;
  background: image-url('bets.png');
  background-size: 100% auto;
  font-size: 15px;
}

.bets__row {
  display: table-row;
  height: 60px;
  text-align: center;
}

.bets__head {
  color: $color__yellow;
}

.bets__row:not(.bets__head) {
  background: #131f2a;
  margin-bottom: 5px;
  color: $color__blue;
}

.bets__cell.circle {
  width: 100px;

}

.bets__cell {
  width: 20%;
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  white-space: nowrap;
}

.bets__cell:nth-child(4) {
  width: 40%;
}

.bets__gun {
  display: inline-block !important;
  vertical-align: middle;
  margin: 0 0 0 10px;
}

.bets__numb:not(:last-of-type) {
  margin-right: 10px;
}

.bets__numbers {
  text-align: right;
}
