.g-page {
  position: relative;
  min-width: 1024px;
  background: image-url('g-page__bg.jpg') no-repeat $color__dark;
  background-size: 100% auto;
  font: 13px PT Sans;
  color: $color__font_bright;
  overflow-x: hidden;
}

.g-page__content {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}