.intro {
  box-sizing: border-box;
  height: 260px;
  padding: 50px 65px;
  background: image-url('logo.jpg');
  background-size: cover;
}

.intro__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 1;
}

.intro__title__bright {
  background: -webkit-linear-gradient(#9a9a9a, $color__font_bright, $color__gray_bright);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $color__gray_bright;
}

.intro__title__colored {
  background: -webkit-linear-gradient(#f2d222, #ffb81d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $color__yellow;
}

.intro__button {
  display: inline-block;
  width: 245px;
  margin: 10px;
  box-shadow: 0 0 6px rgba(247, 56, 5, 0.5);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 130%;
  line-height: 35px;
}
