.lottery {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;

  /*- step -*/

  /*- aside -*/
}

.lottery__gun {
  width: 130px;
  height: 135px;
  margin: 0 0 10px;
}

.lottery__gun:not([class*=_theme]) {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.lottery__clean {
  height: 45px;
  margin: 3px 0 0;
  background: $color__blue-black;
  text-align: center;
  line-height: 45px;
  color: $color__yellow;
  -webkit-transition: .3s;
  transition: .3s;
}

.lottery__clean:hover {
  background: $color__yellow;
  color: $color__blue-black;
}

.lottery__aside {
  position: relative;
  z-index: 10;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0 0 25px;
}

.lottery__links {
  line-height: 45px;
  padding: 0 25px;
  background: $color__blue_dark;
}

.lottery__link:first-child {
  color: $color__yellow;
}

.lottery__link:last-child {
  color: $color__blue;
}

.lottery__types {
  padding: 20px 25px;
  background: $color__blue-bg;
}

.lottery__type {
  display: inline-block;
  padding: 5px;
  text-transform: uppercase;
  color: $color__blue;
}

.lottery__type.active {
  background: $color__menu;
}

.lottery__add {
  height: 30px;
  margin: 10px 25px;
  text-transform: uppercase;
  line-height: 30px;
}

.lottery__bates {
  text-align: center;
  font-size: 120%;
  color: $color__blue-white;
}

.lottery__bates__delete {
  float: right;
}

.lottery__bates__select {
  display: inline-block;
  padding: 0 15px;
}

.lottery__bates__list {
  padding: inherit;
  text-align: left;
  background: $color__blue_dark !important;
}

.lottery__bates__item {
  padding: 5px 0;
  text-decoration: underline;
}

.lottery__bates__item.active {
  text-decoration: none;
  color: $color__blue
}

.lottery__bates__item:hover {
  text-decoration: none;
  color: $color__blue
}

.lottery__auto {
  margin: 10px 15px 20px;
}

.lottery__auto__button {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  padding: 5px;
  border-radius: 5px;
  background: #1D2D3A;
  font-size: 150%;
  line-height: 1;
  text-align: center;
  color: #8395A9;
}

.lottery__auto__button__bottom {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.lottery__auto__button:not(:last-child) {
  margin-right: 9px;
}

.lottery__fieldset {
  margin: 10px 25px;
}

.lottery__label {
  -webkit-box-flex: 1;
  -webkit-flex: 1 70%;
  -ms-flex: 1 70%;
  flex: 1 70%;
  color: $color__blue;
}

.lottery__extra {
  position: relative;
  min-width: 95px;
}

.lottery__extra_total {
  text-align: center;
  font-size: 130%;
  font-weight: 700;
}

.lottery__extra:hover .lottery__prompt {
  visibility: visible;
  opacity: 1;
}

.lottery__prompt {
  position: absolute;
  z-index: 10;
  left: 100%;
  top: 0;
  width: 80px;
  padding: 0 10px;
  background: $color__input__change;
  text-align: center;
  line-height: 30px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.lottery__prompt__numb {
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -webkit-flex: 1 30%;
  -ms-flex: 1 30%;
  flex: 1 30%;
  padding: 0 5px;
}

.lottery__prompt__numb._active {
  color: $color__yellow;
}

.lottery__actions {
  margin: 0 25px;
}

.lottery__send {
  background: $color__blue_dark !important;
  text-align: center
}

.lottery__refill {
  background: $color__blue_dark !important;
  text-align: center
}

.lottery__send {
  line-height: 55px;
  color: $color__blue;
}

.lottery__send__icon {
  position: relative;
  top: 7px;
  margin: 0 0 0 1em;
}

.lottery__refill {
  display: block;
  margin: 10px 0 10px;
  line-height: 55px;
  color: $color__yellow;
}

.lottery__balance {
  margin: 1em 0;
  text-align: center;
  font-size: 140%;
  color: $color__blue;
}

.lottery__balance__value {
  color: $color__yellow;
}

.lottery__login {
  padding: 20px 25px 0;
  margin: 0 25px;
  background: $color__blue-bg;
  text-align: center;
  color: $color__blue;
}

.lottery__login__button {
  display: block;
  margin: 35px 10px 0;
  font-size: 130%;
  line-height: 50px;
}

.lottery__multi > .lottery__fieldset {
  box-sizing: border-box;
  margin: 0;
  padding: 20px 25px;
  width: 50%;
}

.lottery__scale {
  width: 100% !important;
}

.lottery__scale__line {
  width: 20px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 70%;
  color: $color__font_dark;
}

.lottery__scale__line.active {
  background: $color__yellow;
  color: $color__font_dark;
}

.lottery__scale__line:not(.active) {
  background: rgba(247, 168, 5, 0.19999999999999996);
  color: $color__yellow;
}

a {
  .lottery {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;

    /*- step -*/

    /*- aside -*/
  }
  .lottery__gun {
    width: 130px;
    height: 135px;
    margin: 0 0 10px;
  }
  .lottery__gun:not([class*=_theme]) {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  .lottery__clean {
    height: 45px;
    margin: 3px 0 0;
    background: $color__blue-black;
    text-align: center;
    line-height: 45px;
    color: $color__yellow;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .lottery__clean:hover {
    background: $color__yellow;
    color: $color__blue-black;
  }
  .lottery__aside {
    position: relative;
    z-index: 10;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-top: -185px;
    padding: 0 0 25px;

  }
  .lottery__links {
    line-height: 45px;
    padding: 0 25px;
    background: $color__blue_dark;
  }
  .lottery__link:first-child {
    color: $color__yellow;
  }
  .lottery__link:last-child {
    color: $color__blue;
  }
  .lottery__types {
    background: $color__blue-bg;
    padding: 20px 25px;
  }
  .lottery__type {
    display: inline-block;
    padding: 5px;
    text-transform: uppercase;
    color: $color__blue;
  }
  .lottery__type.active {
    background: $color__menu;
  }
  .lottery__add {
    height: 30px;
    margin: 10px 25px;
    text-transform: uppercase;
    line-height: 30px;
  }
  .lottery__bates {
    text-align: center;
    font-size: 120%;
    color: $color__blue-white;
  }
  .lottery__bates__delete {
    float: right;
  }
  .lottery__bates__select {
    display: inline-block;
    padding: 0 15px;
  }
  .lottery__bates__list {
    padding: inherit;
    text-align: left;
    background: $color__blue_dark !important;
  }
  .lottery__bates__item {
    padding: 5px 0;
    text-decoration: underline;
  }
  .lottery__bates__item.active {
    text-decoration: none;
    color: $color__blue
  }
  .lottery__bates__item:hover {
    text-decoration: none;
    color: $color__blue
  }
  .lottery__auto {
    margin: 10px 15px 20px;
  }
  .lottery__auto__button {
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    padding: 5px;
    border-radius: 5px;
    background: #1D2D3A;
    font-size: 150%;
    line-height: 1;
    text-align: center;
    color: #8395A9;
  }
  .lottery__auto__button:hover::after {
    content: attr(data-title);
  }
  .lottery__auto__button__bottom {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  .lottery__auto__button:not(:last-child) {
    margin-right: 9px;
  }
  .lottery__fieldset {
    margin: 10px 25px;
  }
  .lottery__label {
    -webkit-box-flex: 1;
    -webkit-flex: 1 70%;
    -ms-flex: 1 70%;
    flex: 1 70%;
    color: $color__blue;
  }
  .lottery__extra {
    position: relative;
    min-width: 95px;
  }
  .lottery__extra_total {
    text-align: center;
    font-size: 130%;
    font-weight: 700;
  }
  .lottery__extra:hover .lottery__prompt {
    visibility: visible;
    opacity: 1;
  }
  .lottery__prompt {
    position: absolute;
    z-index: 10;
    left: 100%;
    top: 0;
    width: 80px;
    padding: 0 10px;
    background: $color__input__change;
    text-align: center;
    line-height: 30px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .lottery__prompt__numb {
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -webkit-flex: 1 30%;
    -ms-flex: 1 30%;
    flex: 1 30%;
    padding: 0 5px;
  }
  .lottery__prompt__numb._active {
    color: $color__yellow;
  }
  .lottery__actions {
    margin: 0 25px;
  }
  .lottery__send {
    background: $color__blue_dark !important;
    text-align: center
  }
  .lottery__refill {
    background: $color__blue_dark !important;
    text-align: center
  }
  .lottery__send {
    line-height: 55px;
    color: $color__blue;
  }

  .lottery__send__icon {
    margin: 0 0 0 1em;
  }
  .lottery__refill {
    display: block;
    margin: 10px 0 10px;
    line-height: 55px;
    color: $color__yellow;
  }
  .lottery__balance {
    margin: 1em 0;
    text-align: center;
    font-size: 140%;
    color: $color__blue;
  }
  .lottery__balance__value {
    color: $color__yellow;
  }
  .lottery__login {
    padding: 20px 25px 0;
    margin: 0 25px;
    background: $color__blue-bg;
    text-align: center;
    color: $color__blue;
  }
  .lottery__login__button {
    display: block;
    margin: 35px 10px 0;
    font-size: 130%;
    line-height: 50px;
  }
  .lottery__multi > .lottery__fieldset {
    box-sizing: border-box;
    margin: 0;
    padding: 20px 25px;
    width: 50%;
  }
  .lottery__scale {
    width: 100% !important;
  }
  .lottery__scale__line {
    width: 20px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 70%;
    color: $color__font_dark;
  }
  .lottery__scale__line.active {
    background: $color__yellow;
    color: $color__font_dark;
  }
  .lottery__scale__line:not(.active) {
    background: rgba(247, 168, 5, 0.19999999999999996);
    color: $color__yellow;
  }
  color: inherit;
}