.numbers {
  font-size: 17px;
}

.numbers__item {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid $color__blue-gray;
  margin-bottom: 9px;
  background: $color__black;
  text-align: center;
  line-height: 48px;
}

.numbers__item_size_big {
  width: 78px;
  height: 78px;
  min-width: 78px;
  border-width: 2px;
  line-height: 78px;
}

.numbers__item._status_selected {
  border-color: $color__yellow;
}

.numbers__item._status_winning {
  border-color: $color__green;
}

.numbers__item._status_matched {
  border-color: $color__yellow;
  background: $color__yellow;
}
