.stat {
  font: 12px PT Sans Narrow;
}

.stat__side {
  position: absolute;
  top: 260px;
  box-sizing: border-box;
  width: 200px;
}

.stat__side_dir_left {
  right: 100%;
  padding-right: 50px;
}

.stat__side_dir_right {
  left: 100%;
  padding-left: 50px;
}

.stat__set {
  min-height: 200px;

}

.stat__set_clear {
  opacity: .5;
}

.stat__title {
  margin: 0 0 1em;
  font-size: 200%;
}

.stat__subtitle {
  margin: 0 0 1em;
  font-size: 150%;
}

.stat__last__game {
  width: 128px;
}

.stat__link {
  font-size: 133%;
}

.stat__link:not(.active) {
  border-bottom: 1px dotted;
}

.stat__link_inline:not(:first-child) {
  margin: 0 0 0 10px;
}

.stat__link:hover {
  border-color: transparent;
}

.stat__numbers {
  margin: 1em 0 0;
}

.stat__number {
  width: 25%;
  text-align: center;
  font-size: 125%;
  line-height: 200%;
}

.stat__bet {
  margin: 1em 0;
  font-family: Open Sans;
  color: $color__yellow;
}

.stat__bet__time {
  margin: 0 0 0 10px;
}

.stat__bet__numbers {
  background: rgba(247, 168, 5, 0.30000000000000004);
}

.stat__bet__gun {
  margin: 0 0 0 5px;
}

.stat__list {
  padding: 10px;
  margin: 0 -10px;
  background: $color__dark;
}

@media (max-width: 1366px) {
  .stat__side {
    /*width: 140px;*/
  }
  .stat__side_dir_left {
    padding-right: 10px;
  }
  .stat__side_dir_right {
    padding-left: 10px;
  }
}
