@font-face {
  font-family: "Blogger Sans";
  src: font_url("bloggersans.ttf");
}
@font-face {
  font-family: "CS Regular";
  src: font_url("csregular.ttf");
}

.stone {
  font-family: "Blogger Sans";
}

.stone__main__background {
  position: relative;
  background: image-url('stone_lobby.png');
  width: 940px;
  height: 663px;
}
.stone__search__leave{
  font-size:18px;
  width:60px;
  margin-left: 860px;
  margin-bottom: -40px;
  height: 30px;
  padding-top: 10px;
  font-weight: bold;
  font-family: "CS Regular";
  color:rgb(124, 124, 124);
}

.stone__search__leave:hover{
  color:#f7a903;
}

.stone__main__sticker {
  position: relative;
  z-index: 3;
  margin-left: 67px;
  background: image-url('stone_sticker.png');
  width: 872px;
  height: 381px;
}

.stone__main__info__bar {
  z-index: 2;
  margin-top: -25px;
  background: #000000;
  height: 75px;
  width: 872px;
  margin-left: 67px;
}
.stone__main__info.yellowtext,.stone__bet__buttons,.stone__start__button__gray,.stone__start__button__yellow{font-family:"CS Regular";}
.stone__main__info {
  margin: auto;
  font-size: 30px;
  line-height: 2.4;
  text-align: center;
}
.stone__main__info.graytext {
  color: rgb(124, 124, 124);
}

.stone__main__info.graytext_vboy{
  color: rgb(124, 124, 124);
  font-family: "CS Regular";
}
.stone__main__info.yellowtext {
  color: #f7a903;
}

.stone__process__background {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  width: 752px;
  height: 663px;
  margin: 0 auto -663px auto;
}

.stone__process__footer {
  position: relative;
  z-index: 2;
  background: image-url('stone_process_bottom.png');
  margin: 613px 0 -623px 0;
  height: 50px;
  width: 940px;
}

.stone__process__header {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 15px;
  width: 752px;
  font-size: 16px;
  text-align: center;
  color: rgb(154, 157, 166);
}

.stone__process__main {
  position: relative;
  z-index: 2;
  width: 846px;
  height: 130px;
  margin: 0 auto;
}

.stone__bet__buttons {
  margin-left: 67px;
  margin-top: 12px;
}

.stone__bet__button__blue {
  text-align: center;
  font-size: 30px;
  line-height: 80px;
  margin: auto;
  background-image: image-url("blue_button.png");
  width: 152px;
  height: 92px;
}

.stone__bet__button__grey {
  text-align: center;
  font-size: 30px;
  line-height: 80px;
  margin: auto;
  background-image: image-url("grey_button.png");
  width: 152px;
  height: 92px;
}

.stone__bet__button__yellow {
  text-align: center;
  font-size: 30px;
  line-height: 80px;
  margin: auto;
  background-image: image-url("yellow_button.png");
  width: 152px;
  height: 92px;
}

.stone__orange__text {
  margin: auto;
  color: orange;
  text-align: center;
  font-size: 20px;
}

.stone__balance__field {
  margin: auto;
}

.stone__start__button__yellow {
  margin: auto;
  font-size: 80px;
  color: rgb(247, 169, 3);
  text-align: center;
}

.stone__start__button__gray {
  margin: auto;
  font-size: 80px;
  color: gray;
  text-align: center;
}

.stone__gray__text {
  text-decoration: none;
  color: gray;
  text-align: center;
  font-size: 20px;
  margin: auto;
}

.stone__gray__text:hover {
  color: #f7a903;
}

.stone__bottom__field {
  background-image: image-url("stone__bottom__field.png");
  height: 48px;
  width: 939px;
}

.stone__link__field {
  background-color: rgba(0, 0, 0, 0.7);
  margin-left: 67px;
  width: 872px;
  height: 80px;
}

.stone__process__main__profile {
  float: left;
  width: 280px;
  height: inherit;
  background: #243c53;
}

.stone__process__main__profile__ava {
  float: left;
  margin: 15px 15px 0 20px;
  width: 96px;
  height: 96px;
}

.stone__process__main__profile__creditals {
  float: left;
  margin: 20px 0 0 10px;
  width: 115px;
  height: 100px;
  font-size: 14px;
}

.stone__process__main__profile__creditals__username {
  font-size: 28px;
  height: 30px;
  overflow: hidden;
}

.stone__process__main__profile__creditals__balance {
  margin-top: 15px;
  color: #f7a903;
}

.stone__process__main__game {
  float: right;
  width: 545px;
  height: inherit;
  background: #243c53;
}

.stone__process__main__game__item {
  float: left;
  width: 85px;
  height: 130px;
  margin: 0 10px 0 20px;
}

.stone__process__main__game__item__caption {
  font-weight: bold;
  margin: 10px 0 5px 0;
  width: inherit;
  text-align: center;
  color: #f7a903;
}

.stone__process__main__game__item__img__stone {
  background:image-url("stone_process_select_stone.png");
}
.stone__process__main__game__item__img__scissors {
  background:image-url("stone_process_select_scissors.png");
}
.stone__process__main__game__item__img__paper {
  background:image-url("stone_process_select_papper.png");
}
.stone__process__main__game__item__img{
  width: 85px;
  height: 85px;
  background-size: cover;
}

.stone__process__main__game__item__img:hover {
  box-shadow: 0 0 10px #f7a903;
}

.stone__process__main__game__item__img__selected {
  box-shadow: 0 0 10px #f7a903;
}

.stone__process__main__game__hint {
  margin-top: 45px;
  float: left;
  width: 150px;
  height: 50px;
  background:image-url("stone_process_select_pic.png");
  background-size: cover;
}

.stone__process__main__game__item__img {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.stone__process__body {
  position: relative;
  z-index: 2;
  width: 610px;
  height: 360px;
  margin: 0 auto;
  text-align: center;
}

.stone__process__body__game__card {
  float: left;
  width: 180px;
  height: inherit;
}

.stone__process__body__game__card__caption {
  width: 180px;
  height: 10px;
  padding: 10px 0 15px 0;
  font-size: 16px;
}

.stone__process__body__game__card__wrapper {
  padding: 15px 0 -15px 0;
  width: 180px;
  height: 270px;
  background: #243c53;
  background: linear-gradient(to bottom, #243c53, #162535);
  box-shadow: 0 0 10px black;
  font-size: 16px;
  font-weight: bold;
}
.stone__process__body__game__card__wrapper__message{
  position: relative;
  width: 160px;
  height: 220px;
  background: rgb(7, 10, 15);
  top: 30px;
  margin: 0 auto;
}

.stone__process__body__game__card__wrapper__yellow__small{
  color: #fdaa03;
  font-size:22px;
}

.stone__process__body__game__card__wrapper__yellow__big{
  color: #fdaa03;
  font-size:24px;
  padding: 60px 0 5px 0;
}

.stone__process__body__game__card__wrapper__text {
  position: relative;
  top:20px;
  height:60px;
  margin: 0 15px -60px 15px;
  color: rgb(154, 157, 166);
}

.stone__process__body__game__card__wrapper__timer {
  height: 160px;
  width: 160px;
  position: relative;
  top:90px;
  left:10px;
  background: rgb(7, 10, 15);
}

.stone__process__body__game__card__wrapper__timer__head {
  position: relative;
  top:10px;
  margin: 0 25px;
  height: 30px;
}

.stone__process__body__game__card__wrapper__timer__body{
  position: relative;
  top:20px;
  font-size: 56px;
  color: #f7a903;
}

.stone__process__body__game__card__wrapper__timer__footer {
  position: relative;
  top:25px;
  margin: 0 25px 0 25px;
}

.stone__process__body__game__card__footer {
  margin: 15px 0 20px 0;
  height: 20px;
  font-size: 18px;
  font-weight: bold;
}

.stone__process__body__info {
  float: left;
  width: 250px;
  height: inherit;
}

.stone__process__body__info__game {
  margin-top: 25px;
}

.stone__process__body__info__bank {
  margin-top: 160px;
}

.stone__process__body__info__bigtext {
  font-size: 30px;
  font-weight: bold;
}

.stone__process__body__info__smalltext {
  font-size: 18px;
  color: #9a9da6;
  font-weight: bold;
}

.stone__process__stats {
  font-weight: bold;
  position: relative;
  z-index: 2;
  font-size: 18px;
  width: 800px;
  height: 115px;
  margin: 0 auto;
  background: #243c53;
  background: linear-gradient(to bottom, #243c53, #162535);
  text-align: center;
}

.stone__process__stats__caption {
  width: inherit;
  padding: 5px 0 15px 0;
  height: 10px;
  color: rgb(7, 10, 15);
}

.stone__process__stats table {
  width: 754px;
  margin: 0 auto;
  height: 70px;
  background: rgb(7, 10, 15);
}

.stone__process__stats table td, div.stone__process__stats table th {
  vertical-align: middle;
}

.stone__process__stats__th {
  width: 90px;
  margin: 0 auto;
  color: #f7a903;
  border-bottom: 2px solid rgb(35, 40, 44);
}

.stone__process__application {
  position: absolute;
  width: inherit;
  height: 662px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

.stone__process__application__top {
  margin: 0 auto -130px 0;
  padding-top:130px;
  width: inherit;
  height:170px;
}

.stone__process__application__winner__caption {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.stone__process__application__winner__name {
  font-size: 42px;
  color: #f7a903;
  font-weight: bold;
}

.stone__process__application__body {
  margin: 0 auto 360px auto;
  width: 610px;
  height: 360px;
}

.stone__process__application__card {
  width: 180px;
  height: 270px;
  background: linear-gradient(to bottom, #243c53, #162535);
}

.stone__process__application__card__stone {
  background: image-url("stone_process_stone.png");
  background-size:cover;
}
.stone__process__application__card__scissors {
  background: image-url("stone_process_scissors.png");
  background-size:cover;
}
.stone__process__application__card__paper {
  background: image-url("stone_process_papper.png");
  background-size:cover;
}


.stone__process__application__timer {
  font-weight: bold;
  font-size: 72px;
}

.stone__process__main:after, .stone__process__main__profile, .stone__process__body, .stone__process__main__game:after, .stone__process__body__game__card__wrapper:after {
  clear: both;
}

.stone__process__main__profile, .stone__process__main__profile__ava, .stone__process__main__game, .stone__process__stats {
  box-shadow: 0 0 15px black;
}

.stone__winner{
  height:100%;
  width:100%;
  background: rgba(0,0,0,0.7);
  text-align:center;
  font-weight:bold;
}
.stone__winner__caption{
  padding-top:65px;
  font-size:32px;
}
.stone__winner__caption__yellow{
  color:#fdaa03;
}
.stone__winner__profile:after{clear:both;}
.stone__winner__profile{
  background:#243c53;
  width:300px;
  height: 130px;
  margin: 35px auto 25px auto;
  box-shadow: 0 0 10px black;
}
.stone__winner__profile__ava{
  float:left;
  background:white;
  width:96px;
  height: 96px;
  margin: 15px 8px 10px 20px;
  box-shadow: 0 0 10px black;
}
.stone__winner__profile__nickname{
  float:left;
  width:155px;
  height: 96px;
  font-size:30px;
  overflow: hidden;
  margin: 45px 0 0 0;
}
.stone__winner__bankinfo{
  font-size:32px;
  margin-bottom: 15px;
}
stone__winner__bankinfo__yellow,stone__winner__bankhint__yellow{
  color: #fdaa03;
}
.stone__winner__bankhint{font-size: 15.5px;}
.stone__winner__button{
  background: image-url("blue_button.png") no-repeat;
  background-size: cover;
  width: 140px;
  margin:0 auto;
  font-size: 35px;
  height: 65px;
  padding-top:20px;
}
.stone__winner__message{margin:45px auto; font-weight:normal;font-size: 105px;font-family: "CS Regular"; color: #fdaa03;
}

.stone__search {
  width: 940px;
  height: 663px;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.stone__search__leave{
  color: rgb(124,124,124);
  padding-top:10px;
  height: 20px;
  width:200px;
  margin: 0 10px -30px 730px;
  font-family: "CS Regular";
  font-size:18px;
}
.stone__search__leave:hover{
  color:#fdaa03;
}
.stone__search__body {
  padding-top: 175px;
  width: 700px;
  height: 290px;
  margin: 0 auto;
}

.stone__search__body:after {
  clear: both;
}

.stone__search__info {
  float: left;
  width:230px;
}

.stone__search__vs {
  padding-top:100px;
  font-family: "CS Regular";
  color: #fdaa03;
  text-shadow: black 0 0 15px;
  font-size: 80px;
}

.stone__search__card {
  float: left;
  width: 230px;
  height: 290px;
  background: #243c53;
  box-shadow: 0 0 10px black;
}
.stone__search__card__ava {
  margin: 25px auto;
  width: 170px;
  height: 170px;
  box-shadow: 0 0 10px black;
  font-size:190px;
}

.stone__search__card__caption {
  font-size: 30px;
  overflow:hidden;
  font-weight: bold;
}
.stone__search__caption{
  font-size:24px;
  color:#6a6969;
  padding:100px 0 0 0;
}

