$content: 1000px;
$lottery__aside__indent: 25px;
$color__text__shadow: 0 2px 2px #062443, 0 -2px 2px #062443, 2px 0 2px #062443, -2px 0 2px #062443;
$color__text__gradient: 0px;


[ng-click] {
  cursor: pointer;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 18px 0;
  border-left: 5px solid lightgray;
}
