a:hover {
  text-decoration: none;
}

.markdown {
  padding: 1em;
}

.markdown mark {
  background: none;
  font-size: 75%;
  color: $color__green-blue;
}

strong, b {
  font-weight: 700;
}

i, em {
  font-style: italic;
}

sup, sub {
  font-size: 70%;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

.markdown p {
  margin: 1em 0;
  font-size: 120%;
  color: $color__blue;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 180%;
}

.markdown h3 {
  font-size: 140%;
  font-weight: 700;
}

h4 {
  font-size: 140%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 110%;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  vertical-align: top;
}

pre {
  padding: 10px;
  background: lightgray;
  border: 1px solid #ccc;
}

code {
  border: 0;
  background: transparent;
}

ul {
  list-style: outside none disc
}

ol {
  list-style: outside none decimal;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 18px 0;
  border-left: 5px solid lightgray;
}
