.row
  .navs
    ul.inline
      li = active_link_to 'Профиль', [:admin, @user], active: :exact
      li = active_link_to 'Билеты', [:participations, :admin, @user]
      li = active_link_to 'Предметы', [:items, :admin, @user]
      li = active_link_to 'Депозиты', [:admin, :creditings]
      li = link_to 'Тикеты', [:admin, :tickets, search: {user_id: @user.id}]