.row
  .page-header
    h1 Пользователи
= simple_form_for @search, method: :get, url: [:admin, :users], as: :search, html: { class: :inline } do |f|
  = f.input :nickname, label: 'Никнейм:', required: false
  = f.input :registered, label: 'Дата регистрации:', required: false, input_html: { class: 'daterange' }

  .control-group.payments.inline
    label Внес денег:
    = f.input :payments_from, label: false, required: false
    span &mdash;
    = f.input :payments_till, label: false, requried: false

  .control-group.kodo-tickets.inline
    label Билетов Kodo:
    = f.input :kodo_tickets_from, label: false, required: false
    span &mdash;
    = f.input :kodo_tickets_till, label: false, required: false

  .control-group.headshot-tickets.inline
    label Билетов Headshot:
    = f.input :headshot_tickets_from, label: false, required: false
    span &mdash;
    = f.input :headshot_tickets_till, label: false, required: false


  = f.submit 'Применить', class: 'btn'

table.table.table-striped.tablesorter
  thead
    tr
      th Никнейм
      th Дата регистрации
      th Сумма депозитов
      th Баланс
      th Билетов Kodo
      th Билетов Headshot
  tbody
    - @search.scope.each do |user|
      tr
        td data-sort-by=(user.id) = link_to "#{user.nickname} (#{user.id})", [:admin, user]
        td = l user.created_at
        td = user.payments
        td = user.balance
        td = user.kodo_tickets
        td = user.headshot_tickets
