= render 'navbar'
  - if role.can?(:items, :buy)[:grant]
    = form_tag url_for([:buy, :items]), method: :post, class: :inline
      input type=:hidden name=:user value=(params[:id])
      input type=:hidden name=:total_cost value='0'
      label for=:buy_items Список ID вещей, разделенный запятыми (1,1,2,3)
      input#buy_items name=:items
      input type=:submit value='Отправить (бесплатно!)'
table.table.table-striped
  thead
    tr
      th Предмет
      th Статус доставки
  tbody
    - @items.each do |item|
      tr
        td = item.item_class
        td = item.order_status
