= render 'navbar'

= simple_form_for @form, url: [:admin, @user], method: :put do |f|
  = f.input :nickname, disabled: true, label: 'Никнейм'
  = f.input :steam_id, disabled: true, label: 'Steam ID'
  = f.input :steam_offer_link, label: 'Offer link'
  = f.input :role, **@form.roles_collection, label: 'Права'
  = f.input :balance, disabled: true, label: 'Баланс'
  = f.input :payments, disabled: true, label: 'Платежи'
  = f.input :kodo_tickets, disabled: true, label: 'Билеты Kodo'
  = f.input :headshot_tickets, disabled: true, label: 'Билеты Headshot'
  = f.input :created_at, disabled: true, label: 'Дата регистрации', as: :string
  = f.submit 'Обновить'
