head
  meta name="viewport" content="width=device-width, initial-scale=1"
  title Kodo admin

  link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet"
  = stylesheet_link_tag 'admin', media: 'all'
  = javascript_include_tag 'admin'
  = csrf_meta_tags
body
  div id="wrapper"
    nav.navbar.navbar-default.navbar-static-top role="navigation" style="margin-bottom: 0"
      .navbar-header
        button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
          span.sr-only "Toggle navigation"
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand href="/admin" KODO ADMIN
      .navbar-default.sidebar
        .sidebar-nav.navbar-collapse
          ul.nav.in
            li 
              a.menu__link href="/" 
                i.fa.fa-angle-left  На сайт 
            li 
              a.menu__link href="/admin/stats"
                i.fa.fa-calculator   Статистика
            li 
              a.menu__link href="/admin/item_classes"
                i.fa.fa-gavel   Предметы
            li
              a.menu__link href="/admin/twofactor/show"
                i.fa.fa-bolt  Архив токенов
            li
              a.menu__link href="/admin/testers"
                i.fa.fa-info  Тест пополнения вещами
            li.dropdown
              a.dropdown-toggle href='#' data-toggle="dropdown" 
                i.fa.fa-gamepad  Лотереи
              ul.dropdown-menu
                li = link_to 'Kodo', [:admin, :lotteries, :kodo, :index]
                li = link_to 'Headshot', [:admin, :lotteries, :headshot, :index]
                li = link_to 'КНБ', [:admin, :lotteries, :stone, :index]
            li 
              a.menu__link href="/admin/users"
                i.fa.fa-users  Пользователи
            li 
              a.menu__link href="/admin/tickets"
                i.fa.fa-question   Тикеты
          
              
    div id="page-wrapper"
      = yield