doctype html
html lang="ru" ng-app="lotteryApp"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width,initial-scale=1"

    title Kodo
    link rel="shortcut icon" href=(image_path 'favicon.png') /
    = csrf_meta_tags
    = stylesheet_link_tag 'application.css'

    noscript
      style body{margin-top:50px}.g-errors__nojs{display: block}
    /[if lte IE 9]
      style .g-errors__old{display: block}
  body
    = yield
